@import url(reset.css);
@import url(../components/logo.css);
@import url(../components/search.css);
@import url(../components/button.css);
@import url(../components/copyright.css);
@import url(../components/form.css);

body {
    background-color: #FFFFFF;
    font-family: 'Raleway',sans-serif;
    font-weight: 400;
    line-height: 16px;
}

a {
    text-decoration: none;
}