.main {
    margin: 64px 152px;
}

.main_1 {
    display: flex;
    flex-direction: row;
}

.produto-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    margin-left: 16px;
}

.info-h1 {
    line-height: 61px;
    font-size: 52px;
    font-weight: 500;
    font-family: inherit;
    color: #464646;
}

.info-preco {
    font-weight: 700;
    line-height: 18px;
    font-size: 16px;
    font-family: inherit;
    color: #464646;
}

.info-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #464646;
    font-family: inherit;
}

.categoria-titulo {
    font-weight: 700;
}

@media screen and (max-width: 768px){

    .main {
        margin: 32px 32px;
    }
    
    .main_1 img {
        width: 254px;
        height: 157px;
    }

    .info-h1 {
        font-size: 22px;
        line-height: 25px;
    }

    .info-desc {
        font-size: 14px;
        line-height: 16px;
    }

    .categoria {
        margin: 0px;
        margin-top: 64px;
    }

    .card-5 , .card-6 {
        display: hidden;
    }
}

@media screen and (max-width: 360px){
    .main {
        margin: 0px;
    }

    .main_1 {
        flex-direction: column;
    }

    .img-container {
        height: 192px;
    }

    .main_1 img{
        width: 100%;
        height: 100%;
    }

    .produto-info {
        margin: 16px;
    }
}