.button {
    border: none;

    font-family: inherit;
    line-height: inherit;

    font-weight: 400;

    height: 61px;
    width: 165px;

    background-color: #2A7AE4;
    color: #FFFFFF;

    cursor: pointer;

}

.login-button {
    width: 182px;
    height: 51px;

    background-color: #FFFFFF;

    font-size: 16px;

    border: 1px solid #2A7AE4;

    color: #2A7AE4;
}



.hero-button {
    width: 130px;
    height: 51px;

    border: none;

    background-color: #2A7AE4;

    color: #FFFFFF;

    line-height: 16.78px;

    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

@media screen and (max-width : 768px) {

    .login-button {
        width: 166px;
        height: 40px;

        font-weight: 600;
    }

    .hero-button {
        font-weight: 600;
        font-size: 14px;
        height: 40px;
        width: 118px;
    }

    .button {
        width: 151px;
        height: 40px;
    }
}