.button {
    border: none;

    font-family: inherit;
    line-height: inherit;

}

.login-button {
    width: 182px;
    height: 51px;

    background-color: #FFFFFF;

    font-size: 16px;

    border: 1px solid #2A7AE4;

    color: #2A7AE4;
}