.form {
    position: relative;
    grid-column: 3 / span 2;
    outline: none;
    border: none;
    line-height: 20px;
    font-size: 16px;
    font-family: inherit;
}

.form-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form_input-name {
    height: 56px;
    width: 560px;

    font-size: 16px;
    color: #464646;

    padding-left: 12px;
    padding-top: 10px;
}

.form_input-nameh {
    position: absolute;
    left: 12px;
    top: 42px;

    color: #A2A2A2;
}

.form_input-menssagem {
    height: 82px;
    width: 560px;

    padding-left: 12px;
}

@media screen and (max-width : 768px) {    
    
    .form_input-name, .form_input-menssagem {
        width: 420px;
    }

    .form_input-name {
        height: 55px;
        padding-top: 0px;
    }

    .form_input-menssagem {
        height: 80px;
    }

    .formulario {
        margin-left: 94px;
    }
    
}