.logo__anchor {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-item {
    display: flex;
    align-self: center;
    margin-left: 5px;
}

@media screen and (max-width : 768px) {
    
    .logo__anchor > :first-child {
        height: 24px;
    }

    .logo__anchor > :nth-child(2) {
        height: 18px;
    }

    .logo__anchor > :last-child {
        height: 18px;
    }
}

@media screen and (max-width: 360px) {
    .nav__menu {
        display: inline-block;
    }

    .logo_container {
        width: 100px;
        height: 28px;
    }

    .logo__anchor > :first-child {
        width: 22px;
        height: 16px;
    }

    .logo__anchor > :nth-child(2) {
        height: 10.3px;
    }

    .logo__anchor > :last-child {
        height: 10.3px;
    }
}