.footer {

    display: flex;
    flex-direction: column;

    background-color: #EAF2FD;

    height: 368px;

}

.footer__content {

    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-row: 1;
    height: 240px;

    margin: 64px 152px;
}

.link {
    display: flex;
    flex-direction: column;
}

.link-item{

    margin: 12px 0px;

    font-size: 16px;
    line-height: 18.78px;
    font-weight: 500;
    font-family: inherit;
}

.link-item > a {
    color: #464646;
}

.link-list > :first-child {
    margin-top: 0px;
}

.link-list > :last-child {
    margin-bottom: 0px;
}

/*Media Query*/

@media screen and (max-width : 768px) {

    .footer__content {
        margin: 32px;
    }

    .link {
        grid-column: 1;
        margin-top: 26.4px;
    }

    .footer__content {
        display: grid;
    }

    .form {
        grid-column: 2 / 2 span;
    }

    footer .logo {
        margin-top: 10px;
    }

    .link-item {
        margin: 24px 0px;
        font-weight: 500;
    }

    .link-item a {
        font-weight: 500;
    }
}

@media screen and (max-width: 360px){
    .footer {
        height: 552px;
    }

    
}