.header {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin: 48px 152px;

    height: 115px;
}

/*Media Query*/

@media screen and (max-width : 768px) {

    .header {
        margin: 16px 32px;
        height: 72px;
    }

    .nav__menu {
        gap: 26px;
    }

    main {
        display: none;
    }

    footer {
        display: none;
    }
    
}