.lupa-pesquisa {
    display: none;
}

.header {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin: 48px 152px;

    height: 115px;
}

/*Media Query*/

@media screen and (max-width : 768px) {

    .header {
        margin: 16px 32px;
        height: 72px;
    }

    .nav__menu {
        gap: 26px;
    }
}

@media screen and (max-width : 360px) {

    .lupa-pesquisa {
        display:initial;
        width: 17px;
        height: 17px;
    }

    .nav-input {
        display: none;
    }

    .header {
        margin: 16px;
    }

    .login-button {
        width: 133px;
        height: 40px;
    }

    main {
        display: none;
    }

    footer {
        display: none;
    }
}