.hero {
    height: 352px;
    background-image: url('../../images/Banner-image.png');
    background-repeat: no-repeat;
}

.hero_container {

    display: flex;

    align-items: flex-end;

    justify-content: space-around;

    margin: 0px 152px;
    height: 100%;
}

.hero_content{
    display: flex;
    flex-direction: column;

    height: 170px;
    width: 100%;

    justify-content: space-around;

    margin-bottom: 32px;
}

.hero-title {
   color: #FFFFFF;
   font-weight: 700;
   font-size: 52px;
   font-family: 'Raleway', sans-serif;
}

.hero-text {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
}


/*Media Query*/

@media screen and (max-width : 768px) {

    .hero {
        background-size: cover;
    }

    .hero_container {
        margin: 0px 32px;
    }

    .hero_content {
        margin-bottom: 12px;
    }

    main {
        display: none;
    }

    footer {
        display: none;
    }
    
}