.main {
    margin: 64px 152px;
}


/*Categoria*/

.categoria{
    display: flex;
    flex-direction: column;
    margin-top: 64px;
}

/*Cabecalho-header*/

.main-wrapper {
    margin: 64px 152px;
}

.categoria-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.categoria-ancora {
    text-decoration: none;
    font-family: 'Raleway',sans-serif;
    color: #2A7AE4;
    font-weight: 700;
    font-size: 16px;
    margin-right: 12px;
}

.anconra-seta {
    margin-left: 12px;
    width: 16px;
    height: 16px;
}

.categoria-titulo {
    font-family: 'Raleway',sans-serif;
    color: #464646;
    font-size: 32px;
    line-height: 38px;
}

.ver-tudo {
    position: relative;
}

.arrow-icon {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 2px;
}

/*Cards*/

.categoria-content {
    display: flex;
    flex-direction: row;

    gap: 16px;
}

.card__container {
    display: flex;
    flex-direction: column;

    width: 176px;

    gap: 8px;
}

.card-image {
    width: 176px;
    height: 174px;
}

.card-title {
    font-family: 'Raleway',sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #464646;
}

.card-preco {
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    font-size: 16px;
}


/*Media Query*/

@media screen and (max-width : 768px) {
    
    .categoria {
        margin: 32px;
    }

    .ver-tudo {
        margin-right: 18px;
    }
    
    .arrow-icon {
        top: 0px;
    }

    .card__container img {
        width: 164px;
        height: 174px;
    }

    .categoria-titulo {
        font-size: 22px;
        font-weight: 700;
    }

    .main {
        margin: 0px;
    }

    .card-5,.card-6 {
        display: none;
    }

    footer {
        display: none;
    }
}

